<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education & Qualification</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Education_&_Qualification </h1>
        <div id="graph1">{{ graph1_html|safe }}</div>
        <div id="graph2">{{ graph2_html|safe }}</div>
        <div id="graph3">{{ graph3_html|safe }}</div>
        <div id="graph4">{{ graph4_html|safe }}</div>
    </div>
</body>
</html>