<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Industry & Job Function Insights</h1>
        <div id="graph1">{{ graph1_html|safe }}</div>
        <div id="graph2">{{ graph2_html|safe }}</div>
        <div id="graph3">{{ graph3_html|safe }}</div>
        <div id="graph4">{{ graph4_html|safe }}</div>
        <div id="graph5">{{ graph5_html|safe }}</div>
        
        
        </div>
       
    </div>
</body>
</html>